{% extends "base.html" %}

{% block title %} Users {% endblock %}

{% block content %}
    <h2>Profile Information</h2>
    <div style="margin-bottom:10">
        <strong>First Name</strong> 
        <input type="text" id="firstname" name="firstname" value= "{{ user.first_name }}" readonly style="margin-left: 10; margin-right: 60">
        <strong>Surname</strong> 
        <input type="text" id="lastname" name="lastname" value= "{{ user.last_name }}" readonly style="margin-left: 10;">
    </div>
    <div style="margin-bottom:10">
        <strong>Email</strong> 
        <input type="text" id="email" name="email" value= "{{ user.email }}" readonly style="margin-left: 49; margin-right: 60;">
        <strong>Location</strong> 
        <input type="text" id="location" name="location" value= "{{ user.location }}" readonly style="margin-left: 12;">
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
