{% extends "base.html" %} {% block title %} Users {% endblock %} {% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="row">
    <div class="col-4">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
            <table class="table manage-candidates-top mb-0">
                <thead>
                    <tr>
                        <th>User List</th>
                        <th class="action text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users: %} {% if not user.is_admin and not user.is_banned and not (user.id == current_user.get_id()) %}

                    <tr class="candidates-list">
                        <td class="title">
                            <div class="thumb">
                                <img src="data:image/png;base64, {{user.profile_pic}}" width=100/></div>
                            <div class="candidate-list-details">
                                <div class="candidate-list-info">
                                    <div class="candidate-list-title">
                                        <h5 class="mb-0"><a href="#">{{ user.first_name }}</a></h5>
                                    </div>
                                    <div class="candidate-list-option">
                                        <ul class="list-unstyled">
                                            <li><i class="fas fa-filter pr-1"></i>{{ user.email }}</li>
                                            <li><i class="fas fa-map-marker-alt pr-1"></i>{{ user.location}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                <form action="/users/" method="POST">
                                    {% if user.id not in blocked_users %}
                                    <button type="submit" id="action" name="action" value="Block" class="btn btn-info">Block</button> {% else %}
                                    <button type="submit" id="action" name="action" value="Unblock" class="btn btn-info">Unblock</button> {% endif %}
                                    <br><br>
                                    <button type="submit" id="action" name="action" value="{{ action }}" class="btn btn-info">{{ action }}</button>
                                    <input type="hidden" id="email" name="email" value="{{ user.email }}">
                                </form>
                            </ul>
                        </td>
                    </tr>
                    {% endif %} {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-4">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
            <table class="table manage-candidates-top mb-0">
                <thead>
                    <tr>
                        <th>Admin List</th>
                        <th class="action text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users: %} {% if user.is_admin %}

                    <tr class="candidates-list">
                        <td class="title">
                            <div class="thumb">
                                <img src="data:image/png;base64, {{user.profile_pic}}" width=100/></div>
                            <div class="candidate-list-details">
                                <div class="candidate-list-info">
                                    <div class="candidate-list-title">
                                        <h5 class="mb-0"><a href="#">{{ user.first_name }}</a></h5>
                                    </div>
                                    <div class="candidate-list-option">
                                        <ul class="list-unstyled">
                                            <li><i class="fas fa-filter pr-1"></i>{{ user.email }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %} {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    {% if current_user.is_admin%}
    <div class="col-4">
        <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
            <table class="table manage-candidates-top mb-0">
                <thead>
                    <tr>
                        <th>Banned List</th>
                        <th class="action text-right">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users: %} {% if user.is_banned %}

                    <tr class="candidates-list">
                        <td class="title">
                            <div class="thumb">
                                <img src="data:image/png;base64, {{user.profile_pic}}" width=100/></div>
                            <div class="candidate-list-details">
                                <div class="candidate-list-info">
                                    <div class="candidate-list-title">
                                        <h5 class="mb-0"><a href="#">{{ user.first_name }}</a></h5>
                                    </div>
                                    <div class="candidate-list-option">
                                        <ul class="list-unstyled">
                                            <li><i class="fas fa-filter pr-1"></i>{{ user.email }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <ul class="list-unstyled mb-0 d-flex justify-content-end">
                                <form action="/users/" method="POST">
                                    <button type="submit" id="action" name="action" value="Unban" class="btn btn-info">Unban</button>
                                    <input type="hidden" id="email" name="email" value="{{ user.email }}">
                                </form>
                            </ul>
                        </td>
                    </tr>
                    {% endif %} {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    {% endif %}
</div>

{% endblock %} {% block footer %} {% endblock %}