{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <img src="/static/img/icon2.png" width="40" height="40" class="d-inline-block align-top" alt="">
        <a class="navbar-brand" href="/">Message in a Bottle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse right" id="navbarCollapse">
            {% block navbar_links %}
            {% endblock %}
        </div>
        <div>
            {% block navbar_profile_links %}
                
            {% endblock %}
        </div>
    </nav>
{% endblock %}