body {
    padding-top: 30px;
    background: #eee;
}
.widget > .panel-heading {
    padding: 1px 12px;
    background-image: none;
    background-color: rgb(43, 40, 40);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.widget .panel-body {
    padding: 0px;
}
.widget .list-group {
    margin-bottom: 0;
}
.widget .panel-title {
    display: inline;
}
.widget .label-info {
    float: right;
}
.widget li.list-group-item {
    border-radius: 0;
    border: 0;
    border-top: 1px solid #ddd;
}
.widget li.list-group-item:hover {
    background-color: rgba(86, 61, 124, 0.1);
}
.widget .mic-info {
    color: #666666;
    font-size: 11px;
}
.widget .action {
    margin-top: 5px;
}
.widget .comment-text {
    font-size: 12px;
}
.widget .btn-block {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.img-user {
    border-radius: 50%;
    height: auto;
}
img {
    border-radius: 50%;
}